<button type = "button" class = "btn btn-default">
    <span class = "glyphicon glyphicon-plus">Add</span>
</button>
<button type = "button" class = "btn btn-default">
    <span class = "glyphicon glyphicon-remove">Remove</span>
</button>
