	<div class = "container">
				<div class = "row">					
					<div class = "col-md-12">
						<div id = "mypanel" class = "panel panel-primary">
							<ul class = "nav nav-tabs nav-justified">
								<li id = "planning"><a href = "">Planning</a></li>
								<li id = "scrumboard"><a href = "">Scrum Board</a></li>
								<li id = "stat"><a href = "">Statistics</a></li>
								<div id = "my_content"></div>
							</ul>
						</div>
					</div>
				</div>
			</div>