<div class="scam-page-header nav">
    <div class="col-xs-4 tab" id="planning">Planning</div>
    <div class="col-xs-4 tab" id="scrumboard">Scrum Board</div>
    <div class="col-xs-4 tab" id="stat">Statistics</div>
</div>

<div class="content" id="ScrumPage">
</div>

