<!DOCTYPE html>
<html>
<head>
  <title>SSTaskTracking</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->

        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
  
         <!-- build:js scripts/vendor.js -->
        <script src="bower_components/jquery/jquery.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <script src="bower_components/backbone/backbone.js"></script>
        <script src="bower_components/backbone/backbone-mediator.js"></script>
        <!-- endbuild -->
    

        <!-- build:js({.tmp,app}) scripts/main.js -->
        <script src="scripts/main.js"></script>                         
        <script src="scripts/templates.js"></script>                         

		
        <!-- module Test1-->
        <script src="scripts/Test1/Test1Tpl.ejs"></script>
        <script src="scripts/Test1/Test1CollectionTpl.ejs"></script>
        <script src="scripts/Test1/Test1Model.js"></script>
        <script src="scripts/Test1/Test1Collection.js"></script>
        <script src="scripts/Test1/Test1ModelView.js"></script>
        <script src="scripts/Test1/Test1CollectionView.js"></script>
         
        <!-- module Test2-->
        <script src="scripts/Test2/Test2Tpl.ejs"></script>
        <script src="scripts/Test2/Test2CollectionTpl.ejs"></script>
        <script src="scripts/Test2/Test2Model.js"></script>
        <script src="scripts/Test2/Test2Collection.js"></script>
        <script src="scripts/Test2/Test2ModelView.js"></script>
        <script src="scripts/Test2/Test2CollectionView.js"></script>
         
        <!-- endbuild -->
		
</head>
<body>

<%= yield %>

</body>
</html>

