<div class="title">Info</div>
<div class="info">
  <ul class="list-unstyled">
    <li>Description: <%= project.description %></li>
    <li>DateStart: <%= project.start %></li>
    <li>PM: <%= project.pm.first_name + " " + project.pm.last_name%> </li>
    <li>Role: <%= project.role %> </li>
  </ul>
</div>