<div class="title">Info</div>
<div class="info">
  <ul class="list-unstyled">
    <li>Name: <%= project.title %></li>
    <li>Description: <%= project.description %></li>
    <li>DateStart: <%= project.start %></li>
    <li>DateFinal: <%= project.finish %></li>
   </ul>
</div>