<div class="backlog-box product">
        <div class="backlog-box-name">    Sprint
            <div class="backlog-box-actions">
                <span class="btn glyphicon glyphicon-play btn-sm">
                 </span>
            </div>
        </div> 
        <ul>

        </ul>
 </div>