<div class="title projects" >
    My Projects
    <div class="actions">
        <span class="btn btn-default glyphicon glyphicon-plus">
        </span>
    </div>
</div>

<div class="content projects" >
   
</div>